.post_container {
  display: flex;
  margin: 40px 0 20px 0;
  padding: 5px;
  max-height: 500px;
}

.text_container {
  /* max-width: 900px;
  max-height: 400px; */
  padding: 5px;
  flex-basis: 900px;
}

.temp_img {
  padding: 5px;
  height: 80%; 
  max-height: 400px;
  flex-basis: auto;
}

.for_post {
  margin-bottom: 10px;
}

#post_title {
  margin: 500px auto;
}