.post_container {
  display: flex;
  margin: 20px 0 10px 0;
  padding: 1em;
  max-height: 500px;
  flex-direction: row;
}

.text_container {
  flex: 1 1 60%;
  padding: 0.5em;
}

.img-container {
  flex: 1 1 40%;
  padding: 0.5em;
}

.custom_auth {
  text-decoration-color: black;
  color: black;
}

.post_container {
  padding: 1em;
}