{% extends 'films/base.html' %}
{% load static %}

{% block posts %}
  <link rel="stylesheet" href="{% static 'films/assets/css/custom.css' %}" />
  <section>
    <h2>О блоге</h2>
    <div><strong>filmatic.org</strong> — не первый мой проект. Наверняка и не последний, но не самый главный).

      <p>Люблю простые и функциональные сайты, в которых главное не то, как они выглядят, а то, насколько удобно их просматривать и читать. Стараюсь писать ёмко и по делу. Прикладываю усилия к тому, чтобы помимо удобства мой блог был ещё и интересным.</p>
      
      <p><strong>Использование материалов:</strong> перепечатывайте или цитируйте любые публикации. Только не забудьте поставить активную индексируемую ссылку на источник и по возможности указать авторство.</p>
      
      <p><strong>Редакционная политика:</strong> любой материал, опубликованный на этом сайте, может быть удалён или отредактирован без какого-либо предупреждения или уведомления. У любой записи может быть хоть сотня исправлений после публикации — поддержка актуальности, исправление неточностей или фактических ошибок, оттачивание формулировок и добавление новых данных важнее «первого слова».</p>
      
      <p><strong>Кратко о себе.</strong> Живу в столице Республики Бурятия — городе Улан-Удэ, и несколько лет занимаюсь тем, что вношу скромный вклад в развитие бурятской блогосферы.</p></div>
  </section>
{% endblock %}
