{% load static %}
<!DOCTYPE HTML>

<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'films/assets/css/main.css' %}" />
  </head>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <header id="header">
            <a href="#" class="logo"><strong>Кино - это зеркало, в котором мы часто видим себя...</strong></a>
            <ul class="icons">
              <li>
                <a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
              </li>
              <li>
                <a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
              </li>
              <li>
                <a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a>
              </li>
              <li>
                <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
              </li>
              <li>
                <a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a>
              </li>
            </ul>
          </header>
		  {% block posts %}
		  {% endblock %}
        </div>
      </div>

      <!-- Sidebar -->
      <div id="sidebar">
        <div class="inner">
          <!-- Search -->
          <!--       <section id="search" class="alt">
					<form method="post" action="#">
						<input type="text" name="query" id="query" placeholder="Search" />
					</form>
				</section>       -->

          <!-- Menu -->
          <nav id="menu">
            <header class="major">
              <h2>Меню</h2>
            </header>
            <ul>
              <li>
                <span class="opener">Фильмы</span>
                <ul>
                  {% for item in menu_genres %}
                    <li>
                      <a href="{{ item.get_film_url }}">{{ item }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
              <li>
                <span class="opener">Сериалы</span>
                <ul>
                  {% for item in menu_genres %}
                    <li>
                      <a href="{{ item.get_serial_url }}">{{ item }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
              <li>
                <span><a href="#">Мультфильмы</a></span>
              </li>
              {% for item in menu %}
                <li>
                  <a href='#'><span>{{ item }}</span></a>
                </li>
              {% endfor %}
            </ul>
          </nav>

          <!-- Section -->
          <section>
            <header class="major">
              <h2>Тут тоже</h2>
            </header>
            <p>Какаято дичьКакаято дичьКакаято дичьКакаято дичьКакаято дичьКакаято дичьКакаято дичьКакаято дичьКакаято дичьКакаято дичь</p>
            <ul class="contact">
              <li class="icon solid fa-envelope">
                <a href="#">swankyyy1@gmail.com</a>
              </li>
              <li class="icon solid fa-phone">+375 29 281-32-37</li>
              <li class="icon solid fa-home">Minsk, Lenina, 1</li>
            </ul>
          </section>

          <!-- Footer -->
          <footer id="footer">
            <p class="copyright">&copy; created by swankyyy</p>
          </footer>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="{% static 'films/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'films/assets/js/browser.min.js' %}"></script>
    <script src="{% static 'films/assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'films/assets/js/util.js' %}"></script>
    <script src="{% static 'films/assets/js/main.js' %}"></script>
  </body>
</html>
