{% extends 'films/base.html' %}
{% load static %}
{{ page_title }} = {{ post.title }}
{% block posts %}
  <link rel="stylesheet" href="{% static 'films/assets/css/custom.css' %}" />
  <section>
    <h2>Контакты</h2>
    <div>Буду рад отзывам, мнениям и предложениям на почту swankyyy1@gmail.com, в соцсетях (см. кнопки в меню), в Телеграме или в комментариях к этой странице. 
      <br>Приветствуются критика, подсказки, поправки, темы для публикаций и другой конструктив.
      <br>Возможно как бесплатное, так и платное размещение информации с учётом концепции блога. С удовольствием расскажу о вашем проекте (сайте, блоге, приложении, ином программном продукте, товаре или услуге) в обмен на равнозначный рассказ или промо.
      <br>Размещу ваш баннер размером до 240×400 точек в сайдбар слева (на экранах компьютера) или в верхнем разворачивающемся меню (на мобильных устройствах). Договоримся ;-)</div>
  </section>
{% endblock %}
