{% extends 'films/base.html' %}
{% load static %}
{% block posts %}
  <link rel="stylesheet" href="{% static 'films/assets/css/custom.css' %}" />
  {% for item in film_list %}
    <div>
      <div class="post_container">
        <div class="text_container">
          <div class="content">
            <header>
              <h2>{{ item.title }}</h2>
            </header>
            <p>
              <strong>{{ item.actors|truncatewords:5 }}</strong>
            </p>
            <p>{{ item.content|truncatewords:50 }}</p>
            <ul class="actions">
              <li>
                <a href="{{ item.get_absolute_url }}" class="button big">Читать дальше...</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="img_container">
          <img  src="{{ item.poster.url }}" height="280px"/>
        </div>
      </div>
    </div>
    <hr class="major" />
  {% endfor %}
{% endblock %}
