{% extends 'films/base.html' %}
{% load static %}
{{ page_title }} = {{ post.title }}
{% block posts %}
  <link rel="stylesheet" href="{% static 'films/assets/css/custom.css' %}" />
  <section>
    <h2>{{ post.title }}</h2>
    <div class="post_container">
      <div class="text-container">
        <strong>В главных ролях:</strong> {{ post.actors }}
        <br />
        
        <strong>Рейтинг кинопоиска:</strong> {{ post.rate }}
        <br />
        <strong>Жанр:</strong> {% for genre in genres %}
          {{ genre }}
        {% endfor %}
        <br />
        <br />
        <p>
          <strong>Описание:</strong>

          {{ post.content }}
        </p>
      </div>
      <div class="img-container">
        <img src="{{ post.poster.url }}" height="300px"/>
      </div>
    </div>
    <hr class="major" />
    <h2>Трейлер</h2>
    <div>
      <iframe width="700" height="350" src="{{ post.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <hr class="major" />
    <h2>Моя рецензия</h2>
    <p>{{ post.opinion }}</p>
    <hr class="major" />
  </section>
{% endblock %}
