{% extends 'films/base.html' %}
{% load static %}
{{ page_title }} = {{ post.title }}
{% block posts %}
  <link rel="stylesheet" href="{% static 'films/assets/css/custom.css' %}" />
  <section>
    <h2>{{ post.title }}</h2>
    <div class="post_container">
      <div>
        <p>
          <strong>В главных ролях:</strong> {{ post.actors }}
        </p>
        <p>
          <strong>Рейтинг кинопоиска:</strong> {{ post.rate }}
        </p>
        <p>
          <strong>Жанр:</strong> ХЗ как
        </p>
        <div>
          <strong>Описание:</strong>
        </div>
        <div>{{ post.content }}</div>
      </div>
      <div>
        <img src="{{ post.poster.url }}" />
      </div>
    </div>
    <hr class="major" />
    <h2>Трейлер</h2>
    <div>
      <iframe width="560" height="315" src="{{ post.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <hr class="major" />
    <h2>Моя рецензия</h2>
    <p>{{ post.opinion }}</p>
    <hr class="major" />
  </section>
{% endblock %}
